<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kutakoff">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hakaton">
        <activity android:name=".Deyatels" />
        <activity android:name=".Events" />
        <activity android:name=".Quizzes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.quizes.krim.KrimQuizMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quizes.main.MainQuizMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quizes.borodinskoeSrajenie.BorodinskoeSrajenieActivityQuiz"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quizes.staliningradskayaBitva.StalingradskayaBitvaQuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quizes.ResultQuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quizes.main.MainEasyQuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quizes.main.MainMediumQuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quizes.main.MainHardQuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quizes.krim.KrimEasyQuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quizes.krim.KrimMediumQuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quizes.krim.KrimHardQuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quizes.petr1.BitvaPriLesnoyQuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quizes.petr1.PoltavskayaBitvaQuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quizes.petr1.GangutskoeSrajenieQuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quizes.petr1.GrengamskoeSrajenieQuizActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.utilitaryClasses.WebViewActivity" />
    </application>

</manifest>