<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kutakoff">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hakaton">
        <activity android:name=".SearchFiguresActivity" />
        <activity android:name=".SearchEventsActivity" />
        <activity android:name="com.quizes.staliningradskayaBitva.StalingradskayaBitvaQuizActivity" />
        <activity android:name="com.quizes.ResultQuizActivity" />
        <activity android:name="com.quizes.main.MainEasyQuizActivity" />
        <activity android:name="com.quizes.main.MainMediumQuizActivity" />
        <activity android:name="com.quizes.main.MainHardQuizActivity" />
        <activity android:name="com.quizes.krim.KrimEasyQuizActivity" />
        <activity android:name="com.quizes.krim.KrimMediumQuizActivity" />
        <activity android:name="com.quizes.krim.KrimHardQuizActivity" />
        <activity android:name="com.quizes.petr1.BitvaPriLesnoyQuizActivity" />
        <activity android:name="com.quizes.petr1.PoltavskayaBitvaQuizActivity" />
        <activity android:name="com.quizes.petr1.GangutskoeSrajenieQuizActivity" />
        <activity android:name="com.quizes.petr1.GrengamskoeSrajenieQuizActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name="com.utilitaryClasses.WebViewActivity" />
        <activity android:name=".ChooseActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>