<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kutakoff">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hakaton">
        <activity android:name=".Godov80_2"></activity>
        <activity android:name=".Godov80_1Activity" />
        <activity android:name=".Gogov_80Activity" />
        <activity android:name=".ResultQuizActivity" />
        <activity android:name=".ResultHardQuizActivity" />
        <activity android:name=".TenHardQuizActivity" />
        <activity android:name=".NineHardQuizActivity" />
        <activity android:name=".EightHardQuizActivity" />
        <activity android:name=".SevenHardQuizActivity" />
        <activity android:name=".SixHardQuizActivity" />
        <activity android:name=".FiveHardQuizActivity" />
        <activity android:name=".FourthHardQuizActivity" />
        <activity android:name=".ThirdHardQuizActivity" />
        <activity android:name=".SecondHardQuizActivity" />
        <activity android:name=".FirstQuizActivity" />
        <activity android:name=".FirstSredQuizActivity" />
        <activity android:name=".FirstHardQuizActivity" />
        <activity android:name=".SredPravilaActivity" />
        <activity android:name=".HardPravilaActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".ChooseEventsActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".ChooseActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>